.menu div{
display: inline-block;
width: 200px;
}

.menu a {
    display: block;
    text-align: center;
    font: 25px bolder;
    color: rgb(31, 99, 201);
    padding: 10px 4px;
  
    background: #2b2828;
}
a:hover{
    color: #ff9900;
    background-color: #000000;
}

