.a{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 200px;
}
.b{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 300px;
}
.c{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 400px;
}
.d{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 500px;
}
.e{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 600px;
}
.f{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 800px;
}
.j{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 900px;
}
.h{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 1000px;
}
.i{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 1200px;
}
.g{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 1300px;
}
.k{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 1400px;
}
.l{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 1500px;
}
.m{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 1600px;
}
.n{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 20px;
    left: 1700px;
}
.o{
    height: 530px;
    width: 530px;
    position: absolute;
    top: 200px;
    left: 750px;
}
