caption{
    text-align: center;
}
div{
    border: 1px solid black;
    width: 600px;
    padding: 5px 10px 15px 10px;
    text-align: center;
    background-color: rgb(223, 235, 235); 
    color: rgb(23, 23, 117)
}

.table{
    border-color:  rgb(87, 14, 14);
    border-collapse: collapse;
    width: 600px;
    height: 300px;
}

.th1{
    font-weight: normal;
    padding: 5px 0px 5px 0px;
    border: 1px solid rgb(124, 122, 122);
    background-color: rgba(177, 199, 199, 0.705);

}

.td1{
    word-break: break-all;
    border: 1px solid rgb(124, 122, 122);
    padding: 0px 0px 0px 5px;
    color: rgb(13, 13, 116);
    text-align: left;
    background-color: rgba(177, 199, 199, 0.705);
   
}
.td2{
    word-break: break-all;
    border: 1px solid rgb(124, 122, 122);
    text-align: right;
    vertical-align: bottom;
    padding: 0px 5px 5px 0px;
    background-color: rgb(255, 255, 255);
}
.text1{
    vertical-align: top;
}
.text2{
    vertical-align: 50%
}