.wrapper{

    max-width: 1024px;
    margin: 0 auto;
    
    background: wheat;

}
body{
    background: rgb(31, 27, 27);
    margin: 0 ;
}

.menu div{
    display: block;
    width: 200px;
    float: left;
    }
.clear{
    clear: both;
}

a {
 
    display: block;
    text-align: center;
    font: 25px bolder;
    color: rgb(31, 99, 201);
    padding: 10px 4px;
    text-decoration: none;
    background: #2b2828;
    text-transform: uppercase;
}
a:hover{
    color: #ff9900;
    background-color: #000000;
}
.name{

float: left;
font-size: 5em;
padding: 20px 20px;
}
.a{
    font-size: 2em;
}



section{
    background:#2b2828;
    float: left;
    width: 250px;
    height: 451px;
}

img{

width: 150px;

}
section div{
    font-size: 2em;
    color: #ff9900;
    margin: 0px 0px 0px 25px;
}
footer img{
padding: 5px 10px 0px 0px;
float: left;
width: 50px;
height: 50px;

}
footer{
    
    margin: 30px 80px;
}
footer div{
    padding: 10px 9px;
    font-size: 32px;
}